extends layout

block head
  link(rel="stylesheet", href="/stylesheets/detail.css")

block content
  h1 #{author.name}
  
  div.bg
    p
      b Date of birth:
      |  #{author.date_of_birth_formatted || '-'}
    p
      b Date of death:
      |  #{author.date_of_death_formatted || '-'}

  h4 Books
  div.listing
    each book in author_books
      div.bg
        a(href=book.url)
          h5 #{book.title}
        p #{book.summary}
    else
      p.bg This author has no books.

  div.buttons
    a.btn(href=author.url+'/delete') Delete
    a.btn(href=author.url+'/update') Update

