extends layout

block head
  link(rel="stylesheet", href="/stylesheets/detail.css")

block content
  h1 Deleting: #{genre.name}

  if genre_books.length
    p #[strong Delete the following books before attempting to delete this genre.]
    h4 Books

    div.listing
      each book in genre_books
        div.bg
          a(href=book.url)
            h5 #{book.title}
          p #{book.summary}
  else
    p Do you really want to delete this Genre?

    form(method='POST' action='')
      div.form-group
        input#genreid(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn(type='submit') Delete
