extends layout

block head
  link(rel="stylesheet", href="/stylesheets/detail.css")

block content
  h1 #{genre.name}

  h4 Books
  
  div.listing
    each book in genre_books
      div.bg
        a(href=book.url) 
          h5 #{book.title}
        p #{book.summary}

    else
      p.bg This genre has no books
  
  div.buttons
    a.btn(href=genre.url+'/delete') Delete
    a.btn(href=genre.url+'/update') Update
