extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h1= title

  if error
    p Error getting content.
  else
    ul.counter-grid
      li.bg.counter 
        i.bi.bi-book
        p !{data.book_count} books
      li.bg.counter
        i.bi.bi-journal
        p !{data.book_instance_count} copies
      li.bg.counter
        i.bi.bi-journal-check
        p !{data.book_instance_available_count} copies available
      li.bg.counter
        i.bi.bi-vector-pen
        p !{data.author_count} authors
      li.bg.counter
        i.bi.bi-blockquote-left
        p !{data.genre_count} genres
